body{
    background-color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
}

.contenedor {
    display: flex;
    flex-direction: row; 
    justify-content: space-around;
    align-items: center;
    background-color: #f0f0f0;
    height: 300px;
    border: 2px dashed #ccc;
}

.caja {
    width: 80px;
    height: 80px;
    color: white;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.caja-1 { background-color: #ff1900; }
.caja-2 { background-color: #0d00ff; }
.caja-3 { background-color: #26ff00; }
.caja-4 { background-color: #000000; }


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
.romanesco-regular {
  font-family: "Romanesco", cursive;
  font-weight: 400;
  font-style: normal;
}

.starbucks-nav {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 15px 40px;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.nav-left, .nav-right {
    display: flex;
    align-items: center;
    gap: 30px; 
}

.menu-list {
    display: flex;
    list-style: none;
    gap: 25px;
    font-weight: bold;
    letter-spacing: 1px;
}


.btn-login {
    padding: 7px 18px;
    border: 1px solid black;
    background: white;
    border-radius: 50px;
    font-weight: bold;
    cursor: pointer;
}

.btn-join {
    padding: 7px 18px;
    background: black;
    color: white;
    border: none;
    border-radius: 50px;
    font-weight: bold;
    cursor: pointer;
}

.hero {
    display: flex;
    flex-wrap: wrap;
    min-height: 450px;
    margin-bottom: 30px;
}

.reverse {
    flex-direction: row-reverse; 
}

.content-box, .image-box {
    flex: 1; 
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    padding: 40px;
    text-align: center;
}

.green-section { background-color: #006241; color: white; }
.pink-section { background-color: #d4e9e2; color: #1e3932; }

button {
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 20px;
}

.btn-outline { border: 1px solid black; background: none; }
.btn-dark { background-color: black; color: white; border: none; }
.btn-outline-white { border: 1px solid white; background: none; color: white; }

.image-box img {
    max-width: 80%;
    height: auto;
}

.footer {
    display: flex;
    justify-content: center;
    padding: 40px;
    background: #f7f7f7;
}



